_Old_BackEnd/GESCaculator/GESCalculator_test.php
_Old_BackEnd/GESCaculator/GESCalculator_copy.php
_Old_BackEnd/GESCaculator/GESCalculatorAudit_test.php
_Old_BackEnd/GESCaculator/test.php
_Old_BackEnd/GESCaculator/tempdata
auditor_cft_file_example.json
vendor/
.phpunit.result.cache
.vscode
.DS_Store
.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
/i18nally.json

/storage/debugbar

.env_local
.env_development
.env_staging
.env_hotfix
.env_production
.env_backup
.env.*
CalculateOneCft.php
/tests/clover.xml
